@use "../../components/theme/variables" as var;
@use "../../components/theme/animation" as *;

#Introduction {
    background-color: var.$color-01;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .section-01 {
        padding-top: 60px;
        padding-bottom: 60px;
        .container-01 {
            .row-01 {
                .col-01 {
                    h2 {
                        background-color: var.$color-05;
                        color: var.$color-01;
                        font-family: Montserrat-Medium;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        margin-bottom: 30px;
                        max-width: fit-content;
                        padding-left: 10px;
                        padding-right: 10px;
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            width: 33.2px;
                            height: 44.4px;
                            background-image: url(../../assets/images/player-gustavo.gif);
                            background-repeat: no-repeat;
                            background-position: top center;
                            background-size: inherit;
                            -webkit-transform: scale(2);
                            transform: scale(2);
                            top: -4.3rem;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            background-color: var.$color-05;
                            animation: bounce 2s infinite;
                            width: 15px;
                            height: 40px;
                            right: -2rem;
                            margin: auto;
                            opacity: 0.9;
                        }
                    }
                    P {
                        font-family: Montserrat-Medium;
                        color: var.$color-05;
                        font-size: 25px;
                        line-height: 30px;
                        margin-bottom: 10px;
                    }
                }
            }
            .row-02 {
                padding-top: 40px;
                .col-01 {
                    .btn {
                        width: 100%;
                        display: inline-block;
                        padding: 10px 16px;
                        border-radius: 0px;
                        background: var.$color-05;
                        color: var.$color-01;
                        font-size: 17px;
                        font-family: Montserrat-Medium;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-weight: bold;
                        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        &:hover {
                            background: var.$color-06;
                            color: var.$color-05;
                            transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                }
            }
        }
    }
}
