$color-01: #13293D;
$color-02: #006494;
$color-03: #247BA0;
$color-04: #1B98E0;
$color-05: #E8F1F2;
$color-06: #020508;

$gradient-01: linear-gradient(181deg,rgba(19, 41, 61, 1) 0%, rgba(0, 100, 148, 1) 100%);

@font-face {
    font-family: Butter-Cookies;
    src: url(fonts/Butter-Cookies.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/montserrat-regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/montserrat-medium.ttf);
}

@font-face {
    font-family: Makrotrial-Extrabold;
    src: url(fonts/makrotrial-extrabold.otf);
}