#lesson-01 {
  header {
    margin-bottom: 60px;
  }
  .section-01 {
    padding-left: 15px;
    padding-right: 15px;
    .container {
      .row-01,
      .row-02,
      .row-03,
      .row-04,
      .row-05,
      .row-06 {
        margin-bottom: 50px;
      }
    }
  }
}
